html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fullscreen-carousel {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 0; 
  margin: 0; 
  height: 56px; 
  display: flex;
  align-items: center; 
  box-sizing: border-box; 
}

.navbar-brand .logo {
  max-height: 100px;
  width: 400;
  object-fit: contain;
  margin: 0;
  padding: 0;
  display: block;
  margin: -25px 0 0 -105px;
}

.navbar {
  padding: 0; 
  margin: 0; 
  height: 56px; 
  display: flex;
  align-items: center; 
  box-sizing: border-box;
}

.content-wrapper {
  padding-top: 56px; 
}

.navbar-light{
  padding-top: 0;
  padding-bottom: 0;
}

