html, body {
  height: 100%;
  margin: 0;
}

body{
  display: flex; /* Align items vertically and horizontally */
  flex-direction: column;
}

main{
  flex: 1 0 auto; /* Allow main to grow and shrink */
  flex-direction: column;
 
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel {
  height: calc(100vh - 56px); 
}

.navbar-dark .nav-link.active {
  color: rgba(255, 255, 255, 0.9); 
  font-weight: bold; 
}

.card {
  min-height: 450px; 
}

footer {
  background-color: #343a40; 
  padding: 20px 0;
}