html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
  
  .fullscreen-carousel {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .carousel-inner {
    flex-grow: 1;
  }
  
  .carousel-item {
    height: 100%;
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  